altair==5.5.0
annotated-types==0.7.0
anyio==4.4.0
asgiref==3.11.1
attrs==25.3.0
beautifulsoup4==4.6.3
blinker==1.9.0
Brotli==1.1.0
bs4==0.0.2
cachetools==5.5.2
certifi==2023.11.17
chardet==3.0.4
charset-normalizer==3.3.2
chatbot==1.5.2b0
click==8.1.7
cmake==4.0.0
codegen==1.0
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
distlib==0.4.3
Django==6.0.6
dnspython==2.6.1
docx2txt==0.9
email_validator==2.2.0
fastapi==0.113.0
fastapi-cli==0.0.5
filelock==3.31.1
fonttools==4.47.2
fsspec==2024.6.1
gitdb==4.0.12
GitPython==3.1.44
googletrans==3.0.0
gunicorn==26.0.0
h11==0.14.0
h2==3.2.0
hpack==3.0.0
hstspreload==2024.1.5
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.2
huggingface-hub==0.24.5
hyperframe==5.2.0
idna==2.10
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.5
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.2
mdurl==0.1.2
mutagen==1.47.0
narwhals==1.34.0
nltk==3.9.1
numpy==1.26.3
opencv-python==4.11.0.86
packaging==23.2
pandas==2.1.4
patterns==0.3
pillow==10.2.0
platformdirs==4.10.1
protobuf==5.29.4
py-notifier==0.5.0
pyarrow==19.0.1
pycryptodomex==3.20.0
pydantic==2.9.0
pydantic_core==2.23.2
pydeck==0.9.1
Pygments==2.18.0
pyparsing==3.1.1
pypng==0.20220715.0
PyQRCode==1.2.1
python-dateutil==2.8.2
python-discovery==1.4.4
python-dotenv==1.0.1
python-multipart==0.0.9
pytube==15.0.0
pytz==2023.3.post1
pywin32==306
PyYAML==6.0.2
qrcode==7.4.2
razorpay==2.0.1
referencing==0.36.2
regex==2024.7.24
requests==2.32.3
responses==0.25.3
rfc3986==1.5.0
rich==13.8.0
rpds-py==0.24.0
safetensors==0.4.4
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
setuptools==78.1.0
shellingham==1.5.4
six==1.16.0
smmap==5.0.2
sniffio==1.3.0
sqlparse==0.5.5
starlette==0.38.4
streamlit==1.44.1
tenacity==9.1.2
threadpoolctl==3.6.0
tokenizers==0.19.1
toml==0.10.2
tornado==6.4.2
tqdm==4.66.5
transformers==4.44.0
typer==0.12.5
typing_extensions==4.13.1
tzdata==2023.4
urllib3==2.1.0
uvicorn==0.30.6
virtualenv==21.6.1
watchdog==6.0.0
watchfiles==0.24.0
websockets==13.0.1
wheel==0.45.1
WinToaster==0.1.0
yt-dlp==2024.8.6
