{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<h2 class="text-center mb-4">Buy Your Favorite Coffee ☕</h2>

<div class="row">

    <div class="col-md-4">

        <div class="card shadow">

            <img src="https://images.unsplash.com/photo-1509042239860-f550ce710b93?w=600"
                 class="card-img-top"
                 alt="Coffee">

            <div class="card-body">

                <h4>Cappuccino</h4>

                <h5>₹199</h5>

                <a href="{% url 'payment' %}" class="btn btn-success w-100">
                  Buy Now
                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}